[Unit]
Description=Generate storage files service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=120

[Service]
ExecStart=/app/start-script.sh
Restart=on-failure
User=root
WorkingDirectory=/app
PIDFile=