[Unit]
Description=Run Podman Pod panel-pod as a oneshot job
Wants=network.target
After=network.target
StartLimitBurst=6
StartLimitIntervalSec=120
RequiresMountsFor=/run/user/1000/containers

[Service]
Type=oneshot
RemainAfterExit=no
TimeoutStopSec=70
ExecStart=/usr/bin/podman pod start panel-pod
ExecStop=/usr/bin/podman pod stop panel-pod
TimeoutStartSec=0

[Install]
WantedBy=default.target
