[Unit]
Description=Run save-energy.sh as a oneshot job
Wants=network-online.target
After=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
Type=oneshot
RemainAfterExit=no
TimeoutStopSec=180
Environment=PATH=/usr/bin:/bin:/usr/local/bin:/usr/local/go/bin
EnvironmentFile=/home/pi/.env
ExecStart=/home/pi/PANEL/app/get-device-upload.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
