[Unit]
Description=Run save-energy.sh as a oneshot job
Wants=network.target
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=60
RequiresMountsFor=/run/user/1000/containers

[Service]
Type=oneshot
RemainAfterExit=no
TimeoutStopSec=180
ExecStart=/home/panel/save-energy.sh
ExecStop=/usr/bin/podman pod stop cloud-pod
TimeoutStartSec=0

[Install]
WantedBy=default.target
