[Unit]
Description=Run device-upload every 1 hour

[Timer]
OnCalendar=*-*-* *:10:00
Persistent=true
OnBootSec=60
Unit=save-energy.service

[Install]
WantedBy=timers.target
